---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Контакты">
  <Header />
  <main>
    <p>Всем привет!</p>
  </main>
</Layout>

<style></style>
