---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Контакты">
  <Header />
  <main>
    <p>
      Фотографирую на заказ с 2014 года, снимаю на цифровую камеру и на плёнку.
    </p>
    <p>С какими запросами ко мне можно обращаться:</p>
    <ul>
      <li>фотографии для сайта/соцсетей компании</li>
      <li>бизнес портрет</li>
      <li>частная портретная съёмка</li>
      <li>актёрское портфолио</li>
      <li>каталог для бренда</li>
      <li>контент для блогера</li>
    </ul>
    <h2>Контакты</h2>
    <nav>
      <p>
        Почта: <a href="mailto:photo@zyuzina.com">photo@zyuzina.com</a>
        <br />
        Телеграм-канал: <a
          href="https://t.me/eugeniazyuzina"
          target="_blank"
          rel="noopener">@eugeniazyuzina</a
        >
        <br />
        Телеграм для связи: <a
          href="https://t.me/janeyakovleva"
          target="_blank"
          rel="noopener">@janeyakovleva</a
        >
      </p>
    </nav>
  </main>
</Layout>

<style></style>
