---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PhotoList from "../components/PhotoList.astro";
---

<Layout title="Евгения Зюзина | Фотограф в Санкт‑Петербурге и Москве">
  <Header />
  <main>
    <PhotoList />
  </main>
</Layout>

<style></style>
