---
interface Props {}

// const { href, title, body } = Astro.props;
---

<header>
  <h1><a href="/">Евгения Зюзина • Фотограф в Санкт-Петербурге и Москве</a></h1>
  <nav>
    <ul>
      <li><a href="/details">Условия</a></li>
      <li><a href="/contact">Контакты</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    min-height: 50px;
    align-items: center;
    padding: 1rem 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  @media (max-width: 800px) {
    header {
      flex-direction: column;
      position: static;
      gap: 1rem;
      align-items: start;
    }
  }

  @supports (backdrop-filter: none) {
    header {
      backdrop-filter: blur(10px);
    }
  }

  h1 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li:not(:last-of-type)::after {
    content: "/";
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  nav a {
    padding: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
</style>
