---
import Photo from "./Photo.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}"
);

const imagesPaths = Object.keys(images).map((key) => key);
---

<ul class="photo-list">
  {
    imagesPaths.map((path) => (
      <li>
        <Photo path={path} altText="" />
      </li>
    ))
  }
</ul>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
/>

<script type="module">
  import "https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js";

  const elements = [];

  document.querySelectorAll(".photo-list img").forEach((element, index) => {
    element.addEventListener("click", () => {
      gallery.openAt(index);
    });

    elements.push({
      href: element.src,
    });
  });

  const gallery = GLightbox({
    elements,
  });
</script>

<style>
  .photo-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .photo-list li {
    padding: 0;
  }

  .photo-list li::before {
    content: "";
  }

  .photo-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1000px) {
    .photo-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
</style>
