---
import Photo from "./Photo.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}"
);

const imagesPaths = Object.keys(images).map((key) => key);
---

<ul class="photo-list">
  {
    imagesPaths.map((path) => (
      <li>
        <a href={path} class="glightbox">
          <Photo path={path} altText="" />
        </a>
      </li>
    ))
  }
</ul>

<script>
  import "glightbox/dist/css/glightbox.min.css";
  import GLightbox from "glightbox";

  GLightbox();
</script>

<style>
  .photo-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .photo-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1000px) {
    .photo-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
</style>
